.img-cat{
    border-radius: 25px;
    height: 180px;
    width: 96%;
    box-shadow: 12px 12px 16px #555;
 }
 .img-cat:HOVER {
    border: 1px solid green;
    box-shadow: 2px 2px 16px #555;
 }
 #categories-row .dropdown-menu{
    margin-top: -21px;
 }
 
 .select2-container--default .select2-selection--single {
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px !important;
}
.ui-autocomplete {
	background-color: #dfdfdf !important;	
}
.error_label{
	color: red;
    font-size: 13px;
    width: 100%;
}