@media (max-width: 961px) {
    .p-dialog {
      width: 75vw;
    }
    .w-75-sm{
      width: 50%;
    }

  }

  @media (max-width: 641px) {
    .p-dialog	{
      width: 100%;
    }
    .w-75-sm{
      width: 75%;
    }
  }
  
  @media (min-width: 961px) {
    .p-dialog{
      width: 50%;
    }
    .w-75-sm{
      width: 50%;
    }

  }
  @media (max-width: 466px) {
    .split{
      display: inline-block !important;
    }
    .splitbutton{
      margin-left: auto !important;
    }
  }



.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader-spinner {
  width: 50px;
  height: 50px;
}

/* map style */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
  border-radius: 15px;
  border: 1px solid rgb(178, 178, 178);
}

.leaflet-control-button {
  background-color: #ffffff;
  font-size: 25px;
  padding: 0 11px;
}


.match-cartes .card-style2 {
    position: relative;
    display: flex;
    transition: all 300ms ease;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 0;
    height: 100%;
}
.match-cartes .card-style2 .card-img {
    position: relative;
    display: block;
    background: #ffffff;
    overflow: hidden;
    border-radius: 0.25rem;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.match-cartes .card-style2 .card-img img {
    transition: all 0.3s linear 0s;
}
.match-cartes .card-style2:hover .card-img img {
    transform: scale(1.05);
}
.match-cartes .card-style2 .date {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    color: #16bae1;
    overflow: hidden;
    padding-bottom: 10px;
    line-height: 24px;
    text-align: center;
    border: 2px solid #ededed;
    display: inline-block;
    background-color: #ffffff;
    text-transform: uppercase;
    border-radius: 0.25rem;
}
.match-cartes .card-style2 .date span {
    position: relative;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 12px;
    margin-bottom: 10px;
    background-color: #00baee;
    border-radius: 0.25rem;
}
.match-cartes .card-style2 .card-body {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 2rem;
}
.match-cartes .card-style2 .card-body h3 {
    margin-bottom: 0.8rem;
}
.match-cartes .card-style2 .card-body h3 a {
    color: #004975;
}
.match-cartes .card-style2 .card-body h3 a:hover {
    color: #00baee;
}
.match-cartes .card-style2 .card-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    background: transparent;
    padding-right: 2rem;
    padding-left: 2rem;
    -ms-flex-align: end;
    align-items: flex-end;
}
.match-cartes .card-style2 .card-footer ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0;
}
.match-cartes .card-style2 .card-footer ul li {
    font-size: 15px;
}
.match-cartes .card-style2 .card-footer ul li a {
    color: #394952;
}
.match-cartes .card-style2 .card-footer ul li a:hover {
    color: #00baee;
}
.match-cartes .card-style2 .card-footer ul li i {
    color: #00baee;
    font-size: 14px;
    margin-right: 8px;
}